<footer class="contact" id="contact">
  <h2>
    Get in Touch<br />
    <a href="mailto:gemma@vixenfitness.co.uk" class="highlight--plum">
      gemma@vixenfitness.co.uk
    </a>
  </h2>

  <ul class="contact__social">
    {% for item in site.contact.social %}
      {% assign site = item[0] %}
      {% assign username = item[1] %}

      <li>
        <a href="//{{ site }}.com/{{ username }}" class="contact__social__link">
          {{ site }}
          <img src="/img/icons/{{ site }}.svg" class="contact__social__image" />
          <img src="/img/icons/{{ site }}-color.{% if site == 'instagram' %}png{% else %}svg{% endif %}" class="contact__social__image contact__social__image--color" />
        </a>
      </li>
    {% endfor %}
  </ul>

  <a href="#" class="contact__back-to-top">
  Back to Top
  </a>
</footer>
