.logo
  -webkit-text-stroke: .05em black
  color: $white
  display: block
  font-size: 1.5em
  font-weight: 900
  line-height: #{(1 / 1.5) * $baseline}
  margin-bottom: #{(1 / 1.5) * $baseline}
  text-align: center
  text-decoration: none
  text-transform: uppercase

  svg
    display: block
    fill: $plum
    margin: 0 auto
    width: 1.5em
