<aside class="cta cta--subscribe cta--hidden" id="subscribe-cta">
  <div class="cta__header">
    <div class="cta__content">
      <h4 class="cta__title">
        Are you ready to <span class="highlight--yellow">be a vixen</span>?
      </h4>

      <p class="cta__description">
        Sign up for news, recipes and more&hellip;
      </p>
    </div>

    <div class="cta__buttons">
      <form class="signup__form"
            action="//vixenfitness.us15.list-manage.com/subscribe/post?u=1d8ff0bcb1a93fbd62b081218&amp;id=1266ec1af0"
            method="post"
            name="subscribe">
        <input type="email" name="EMAIL" class="signup__input" placeholder="Enter your email…" />
        <button type="submit" class="button button__submit signup__submit">Signup</button>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1d8ff0bcb1a93fbd62b081218_1266ec1af0" tabindex="-1" value=""></div>
      </form>
    </div>
  </div>

  <div class="cta__main">
    {% include forms/consultation.html %}
  </div>
</aside>