body
  border: #{$baseline / 2} solid $color-white

  @media (min-width: 36em)
    border-width: $baseline

.page
  padding: #{$baseline * 2} $baseline

  @media (min-width: 36em)
    padding: #{$baseline * 2}

  &__content
    max-width: 36em
