<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="description of your site">
    <meta name="author" content="author of the site">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{% link assets/main.sass %}">
    <script src="https://use.typekit.net/gxa2biv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body class="{{ page.layout }}">
    {% include sidebar.html %}

    <main>
      <!-- {% include header.html %} -->

      <section class="content">
        {{ content }}
      </section>

      {% include footer.html %}
    </main>

    <script src="{% link assets/main.coffee %}"></script>
  </body>
</html>
