---
layout: base
---

<section class="posts">
  <header class="posts__header">
    {{ page.content | markdownify }}
  </header>

  <ul class="posts__list">
    {% for post in site.posts %}
      <li class="posts__item">
        <article class="posts__content">
          <h1>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h1>

          <ul class="posts__meta">
            <li>
              <span class="highlight--pink">Written on</span>
              <date class="posts__date">{{ post.date | date: "%d %B %Y" }}</date>
            </li>
          </ul>

          {{ post.description | markdownify }}
        </article>

        <img src="{{ post.image }}" class="posts__image">
      </li>
    {% endfor %}
  </ul>
</section>

{% include signup.html %}
