---
layout: base
---

<article class="recipe">
  <aside class="recipe__info">
    <h6>Recipe Info</h6>

    <div class="recipe__info-item">
      Serves
      <span class="highlight--lilac">{{ page.serves }}</span>
    </div>

    <div class="recipe__info-item">
      Preparation Time
      <span class="highlight--lilac">{{ page.preparation_time }}</span>
    </div>

    <h6>Ingredients</h6>

    <ul class="recipe__ingredients">
      {% for ingredient in page.ingredients %}
        <li>
          <span>
            {{ ingredient[0] }}
          </span>
          <span class="highlight--lilac">
            {{ ingredient[1] }}
          </span>
        </li>
      {% endfor %}
    </ul>
  </aside>

  <div class="recipe__content">
    {{ page.content | markdownify }}

    <ol class="recipe__steps">
      {% for step in page.steps %}
        <li>
          <p>{{ step }}</p>
        </li>
      {% endfor %}
    </ol>
  </div>
</article>

{% include signup.html %}
