---
layout: base
---

<section class="recipes">
  <header class="recipes__header">
    {{ page.content | markdownify }}
  </header>

  <ul class="recipes__list">
    {% assign recipes = site.recipes | reverse %}
    {% for recipe in recipes %}
      <li class="recipes__item">
        <article class="recipes__content">
          <h2>
            <a href="{{ recipe.url }}">
              {{ recipe.title }}
            </a>
          </h2>

          <ul class="recipes__meta">
            <li>
              <span class="highlight--pink">Serves</span>
              {{ recipe.serves }}
            </li>
            <li>
              <span class="highlight--pink">Preparation Time</span>
              {{ recipe.preparation_time }}
            </li>
          </ul>

          {{ recipe.description | markdownify }}
        </article>

        <img src="{{ recipe.image }}" class="recipes__image">
      </li>
    {% endfor %}
  </ul>
</section>

{% include signup.html %}
