---
layout: base
---

<h1 class="recipe--title">{{ page.title }}</h1>

<article>
  <aside class="recipe--info">
    <div class="recipe--info-item">
      <strong>Serves</strong>
      {{ page.serves }}
    </div>

    <div class="recipe--info-item">
      <strong>Preparation Time</strong>
      {{ page.preparation_time }}
    </div>

    <div class="recipe--info-ingredients">
      <strong>Ingredients</strong>
      <ul class="recipe--info-ingredients-list">
        {% for ingredient in page.ingredients %}
          <li>
            <span>
              {{ ingredient[0] }}
            </span>
            <span>
              {{ ingredient[1] }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </aside>

  <div class="recipe--content">
    {{ page.content | markdownify }}

    <ol class="recipe--steps">
      {% for step in page.steps %}
        <li>
          <p>{{ step }}</p>
        </li>
      {% endfor %}
    </ol>
  </div>
</article>
