body
  display: flex

  &.page--home
    background: url('//hd.unsplash.com/photo-1434754205268-ad3b5f549b11') center / cover no-repeat

.sidebar, main
  height: 100%

main
  flex: 1 1 100%
  overflow-y: auto
  padding: 2.25em 3em

.content
  img
    display: block
    margin: 0 auto
    max-width: 75%
