.recipe
  @media (min-width: 80em)
    align-items: flex-start
    display: flex
    justify-content: space-between
    padding-right: 1.5em

  &--content
    max-width: $container-width

    img
      margin: 0 -3em
      max-width: calc(100% + 3em)

  &--ingredients
    flex: 0 0 9em
    order: 2
    width: 9em

    @media (min-width: 80em)
      margin-left: 3em

    ul
      list-style: none

    li
      display: flex
      font-size: .75em
      justify-content: space-between

  &--steps
    counter-reset: recipe--step-counter
    list-style: none

    li
      display: flex
      border-bottom: 1px solid $light
      padding: $baseline 0

      &::before
        color: $plum
        content: counter(recipe--step-counter)
        counter-increment: recipe--step-counter
        font:
          size: 1.5em
          weight: 700
        width: $baseline

      p
        margin: 0
