<form netlify
      name="consultation-form"
      class="form form--consultation">
  <div class="form__header">
    <p>
      Just fill out the form below, and I'll get back to you to confirm a date and time.
    </p>
  </div>

  <fieldset class="form__col">
    <label for="name"
           class="form__label">
      <span class="form__label-text">
        Name
      </span>

      <input type="text"
             name="name"
             class="form__input" />
    </label>

    <label for="tel"
           class="form__label">
      <span class="form__label-text">
        Tel
      </span>

      <input type="tel"
             name="tel"
             class="form__input" />
    </label>

    <label for="email"
           class="form__label">
      <span class="form__label-text">
        Email
      </span>

      <input type="email"
             name="email"
             class="form__input" />
    </label>
  </fieldset>

  <fieldset class="form__col">
    <label for="message"
           class="form__label">
      <span class="form__label-text">
        Message
      </span>

      <textarea name="message"
                class="form__input form__input--textarea">
      </textarea>
    </label>

    <div class="form__buttons">
      <button class="form__button button">
        Send Message
      </button>
    </div>
  </fieldset>
</form>